<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!---->
<mapper namespace="cn.study.mybatis.UserMapper">
    <!--id属性：对应抽象方法的名称-->
    <insert id="addnew">
        INSERT INTO t_user(username, password, age, phone, email)
        VALUES (#{username}, #{password}, #{age}, #{phone}, #{email})
    </insert>

    <delete id="deleteById">
        DELETE FROM t_user WHERE id=#{id}
    </delete>

    <delete id="deleteByIds">
        DELETE FROM t_user WHERE id IN (
            <foreach collection="list" item="id" separator=",">
                #{id}
            </foreach>
            )
    </delete>

    <update id="updatePassword">
        UPDATE t_user SET password=#{password}
    </update>

    <update id="updateEmailById">
        UPDATE t_user SET email=#{email} WHERE id=#{id}
    </update>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) from t_user
    </select>

    <select id="findById" resultType="cn.study.mybatis.User">
        SELECT * FROM t_user WHERE id=#{id}
    </select>

    <resultMap id="UserEntityMap" type="cn.study.mybatis.User">
        <id column="id" property="id"/>
        <id column="username" property="username"/>
        <id column="password" property="password"/>
        <id column="age" property="age"/>
        <id column="phone" property="phone"/>
        <id column="email" property="email"/>
        <id column="is_delete" property="isDelete"/>
    </resultMap>


    <select id="findAll" resultMap="UserEntityMap">
        SELECT
            id,username,password,age,phone,email,
               is_delete
        FROM t_user ORDER BY id
    </select>

    <select id="findOld" resultType="cn.study.mybatis.User">
        SELECT * FROM t_user ORDER BY age DESC LIMIT 0,1
    </select>

    <resultMap id="UserVOMap" type="cn.study.mybatis.UserVO">
        <id column="id" property="id"/>
        <id column="username" property="username"/>
        <id column="password" property="password"/>
        <id column="age" property="age"/>
        <id column="phone" property="phone"/>
        <id column="email" property="email"/>
        <id column="is_delete" property="isDelete"/>
        <id column="department_id" property="departmentId"/>
        <id column="name" property="departmentName"/>
    </resultMap>

    <select id="findVOByid" resultMap="UserVOMap">
        SELECT t_user.id,username,password,age,phone
        ,email,is_delete,department_id,name FROM t_user LEFT JOIN
            t_department ON t_user.department_id=t_department.id WHERE
            t_user.id=#{id}
    </select>

</mapper>
